body {
    font-family: Arial, Helvetica, sans-serif !important;
    font-weight: 400;
    font-style: normal;

    display: flex;
    justify-content: flex-start;

    margin: 1%;
}

h1 {
    display: inline-block;
    padding: 0.2em;
    margin: 0;

    font-weight: 700;
    font-style: normal;
    top: 10px;

    background-color: #3462AC;
    color: white;
    /* color: #3462AC; */
    /* box-shadow: 0px 3px 6px 1px rgba(0, 0, 0, 0.171); */
}

h2 {
    font-weight: 700;
    font-style: normal;

    color: #3462AC;
    font-size: 2em;
    margin: 0;
    margin-bottom: 2%;
}

#titelDisplay {
    margin: 0;
}

li {
    cursor: pointer;
    margin: 10% 0;
}

main {
    box-shadow: 0px 3px 6px 1px rgba(0, 0, 0, 0.171);
    height: fit-content;
}

main h1 {
    font-size: 1.8em;
    padding: .5em;
}

main ol {
    list-style: decimal;
    margin-left: 40px;
}

#loading {
    width: 100vw;
    height: 100vh;
    margin: 0;

    background-color: white;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: fixed;
    top: 0;
    left: 0;
}

#loading h3 {
    margin: 0;
}

.nav {
    display: none;
    align-items: center;
    margin-bottom: 1%;
}

.nav button {
    margin-left: 1%;
    height: fit-content;
}

#actionBtns button {
    margin-right: 4%;
    padding: 2%;
}

#actionBtns {
    width: 30%;
}

#graden {
    width: 30%;
}

#graden .unSelected {
    filter: brightness(.8);
}

#zoeken {
    display: none;
    width: 50%;
    margin: 1% 0;
}

.nav,
#zoeken {
    max-width: 100vw;
}

.nav div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Bluebtn {
    padding: 2%;
    margin: 0 4%;
}

#start {
    display: flex;
    align-items: center;
    margin-bottom: 2%;
}

#start label {
    margin-right: 2%;
}

#title {
    width: 50%;
    margin-right: 2%;
}

#start button {
    padding: 1% 2%;
}

#search {
    width: 50%;
}

#zoekBtn {
    width: 12%;
    height: 25px;
}

#inputPrompt {
    display: flex;
    align-items: center;
    margin-left: 3%;

    color: white;
    transition: 0.2s ease-in-out;
}

#newEDUform {
    display: none;
    gap: 10%;
    color: black;
}

#newEDUform div {
    flex-shrink: 0;
}

#dataList {
    display: flex;
    flex-wrap: wrap;
}

#dataList p {
    text-decoration: underline;
    cursor: pointer;
}

#compForm {
    display: none;
    color: black;
}

input[type=text] {
    height: 20px;
}

input[type=checkbox] {
    height: 20px;
    width: 20px;
    margin: auto;
}

.dataLink {
    margin: 1%;
}

button {
    padding: 0.5% 1%;
    color: white;

    border: none;
    background-color: #3462AC;
    cursor: pointer;
    transition: .2s ease-in-out;
}

button:hover {
    filter: brightness(115%);
}

#cancel {
    background-color: #F49E1A;
}

#delete {
    display: none;
    background-color: #EA5057;
}

.selected {
    border: 2px solid black;
    filter: brightness(115%);
}

#addBtn {
    display: none;

    position: fixed;
    bottom: 10px;
    left: 45%;
    right: 45%;

    width: fit-content;
    padding: 1% 3%;
    color: white;

    border: none;
    background-color: #3462AC;
    cursor: pointer;
    box-shadow: 0px 3px 6px 1px rgba(0, 0, 0, 0.171);
    /* transition: .2s ease-in-out; */
}

#addCol,
#deleteCol {
    width: 35px;
    height: 35px;

    color: white;
    font-size: large;

    border: none;
    padding: 0;
    background-color: #3FA535;
    cursor: pointer;
}

#addCol {
    position: sticky;
    top: 0;

    margin-right: 50px;
}

#deleteCol {
    width: 20px;
    height: 20px;
    margin-left: 5%;

    background-color: #EA5057;
}

table {
    border-collapse: collapse;
    width: 100%;

    margin-bottom: 80px;
}

#tableHead {
    position: sticky;
    top: 0px;

    border: 1px solid black;
    color: white;
    background-color: #3462AC;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

th {
    height: 18px;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.doelzin {
    max-width: 600px;
}

#version {
    font-weight: 500;
    position: absolute;
    right: 3%;
    bottom: 2%;
}