html {
    font-family: Arial, Helvetica, sans-serif !important;
    font-style: normal !important;

    scroll-behavior: smooth;
}

body {
    margin: 0 5%;
}

nav {
    margin: 2% 5% 0;
}

nav h2 {
    margin: 0;
}

header {
    margin: 3% 5% 0 5%;
    height: 3em;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

#inleiding {
    display: none;
    margin: 3% 5% 0 5%;
    padding: 2%;
    background-color: #F3F3F3;

    border-radius: 10px;
}

main {
    margin: 5%;
    height: fit-content;
}

h1 {
    display: inline-block;
    padding: .5em;
    margin-bottom: .5em;

    font-size: 1.8em;
    font-weight: 700;
    font-style: normal;

    position: sticky;
    top: 10px;

    background-color: #3462AC;
    color: white;
    border-radius: 8px;
}

h2 {
    font-weight: 700;
    font-style: normal;

    color: #3462AC;
    font-size: 2.6em;
}

h3 {
    width: fit-content;
    text-align: center;
    padding: .5em;

    font-size: 1.5em;
    font-weight: 700;

    /* background-color: #3FA535; */
    color: #3FA535;
    ;
}

h4 {
    color: #EA5057;
}

p {
    font-weight: 400;
}

b {
    color: #3462AC;
    font-weight: 700;
}

i {
    font-style: italic;
}

#logo {
    position: absolute;
    top: -20px;
    left: -20px;

    width: 11vw;
    margin-top: 1%;

    cursor: pointer;
}

#logo_extra {
    position: fixed;
    bottom: 10px;
    right: 40px;

    width: 4vw;
    margin-top: 1%;

    cursor: pointer;
}

#backToTop {
    position: fixed;
    right: 5%;
    bottom: 5%;

    z-index: 1;
    display: none;
}

#backToTop p {
    width: 100%;
    background-color: #3FA535;
    color: white;
    padding: 1em .5em;

    text-align: center;
    cursor: pointer;
    border-radius: 8px;

    transition: .2s ease-in-out;
}

#backToTop p:hover {
    filter: brightness(115%);
    transition: .2s ease-in-out;
}

#headerGroup {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    flex-grow: 1;
    margin-left: 2%;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    background-color: #F3F3F3;
    border-radius: 10px;
}

#rightM {
    width: 280px;
    padding: 0.8em 2%;
    margin-left: auto;

    border: none;
    border-right: 15px solid #F3F3F3;
    border-radius: 0;

    font-size: large;
    font-weight: bold;

    cursor: pointer;
    border-radius: 10px;
}

.menuItem {
    padding: 3% 9%;
    margin: 0;
    width: 180px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: bold;
    cursor: pointer;

    transition: 0.2s ease-out;
    border-radius: 10px;
}

.menuItem:hover {
    background-color: rgb(226, 226, 226);
}

.rightItem {
    width: 50%;
    height: 50%;
    margin: 0 1%;
    padding: 2.5%;
}

.selected {
    background-color: #3462AC;
    color: white;

    transition: 0.2s ease-out;
}

.gesloten {
    border-radius: 10px;
}

.selected:hover {
    background-color: #3462AC;
}

.hide {
    display: none;
}

.blue {
    background-color: #3462AC;
    color: white;

    transition: 0.2s ease-out;
}

.red {
    background-color: #EA5057;
    color: white;

    transition: 0.2s ease-out;
}

.green {
    background-color: #3FA535;
    color: white;

    transition: 0.2s ease-out;
}

.greenText {
    color: #3FA535;
}

/*/
    ///////////////////////////////////////////////////////////////*/

.compGroep {
    margin-bottom: 5%;
}

.competenties {
    display: flex;
    flex-direction: column;
}

.comp {
    padding: 2%;
    margin-bottom: 2%;

    box-shadow: 0px 3px 6px 1px rgba(0, 0, 0, 0.171);
    border-radius: 10px;
}

.comp p {
    margin: 0;
    width: 50%;
    font-size: 1.1rem;
}

#number {
    font-size: 1.2rem;
    font-weight: 600;
    color: #3FA535;
}

.readMoreLess {
    margin: 0 0 -1% 0;

    font-size: 1.15rem;
    font-weight: bold;
    text-align: right;

    cursor: pointer;
}

.left {
    text-align: left;
}

.open {
    margin-top: 5%;
    display: none;
}

.infoBubblesAndClose {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: 3%;
}

.infoBubbles {
    width: 80%;
    display: flex;
    gap: 3%;
}

.bubble {
    background-color: #3462AC;
    color: white;

    padding: 1%;
    border-radius: 5px;
}

.bubbleGroen {
    background-color: #3FA535;
    color: white;

    padding: 1%;
    border-radius: 5px;
}

@media only screen and (max-width: 1500px) {
    header {
        flex-wrap: wrap;
        height: auto;
    }

    #title {
        margin: 0;
    }

    #logo {
        margin-top: 2%;
    }

    #headerGroup {
        margin-left: 0;
    }

    .comp {
        padding: 4%;
        margin-bottom: 4%;
    }

    .comp p {
        width: 81%;
    }
}